.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001529 !important;
    margin-top: 50px;
    padding: 15px 0 !important;


    p {
        margin: 0;
        color: #fff;
    }
}